@import '../../sass/variables';

.btn {
  // font-family: inherit;
  // background-color: $primaryColor;

  // border: none;
  // border-radius: 1rem;
  // cursor: pointer;
  // transition: all 0.3s;

  // &:hover {
  //   filter: brightness(90%);
  // }

  span {
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
}
