@import '../../sass/_variables.scss';

.container {
  background-color: $secondaryColor;
  padding: 1.8rem 1.8rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
