@import '../../../../sass/variables';

.question--container {
  // justify-self: flex-end;
  // flex: 1;
  width: 100%;
  display: flex;
  gap: 3.4rem;
  flex-direction: column;

  .question {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

    .heading {
      display: flex;
      align-items: flex-end;
      gap: 0.2rem;

      &--title {
        color: $secondaryLight4Color;
      }
    }

    .question--text {
      color: $secondaryLight4Color;
    }
  }

  .answers {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
