@import '../../../../sass/variables';

.container {
  display: flex;
  gap: 3.4rem;

  .question {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

    .heading {
      display: flex;
      align-items: flex-end;
      gap: 0.2rem;

      &--title {
        color: $secondaryLight4Color;
      }
    }

    .question--text {
      color: $secondaryLight4Color;
    }
  }

  .answers {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .question--btns {
    padding-top: 1.2rem;
    display: flex;
    gap: 1.2rem;
  }
}
