@import '../../../../sass/variables';

.quiz-container {
  font-weight: 500;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}

.quiz {
  &--title {
    color: $secondaryLight4Color;
  }

  &--input {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    align-items: center;

    p {
      color: $secondaryLight4Color;
    }
  }
}
