@import '../../../../sass/variables';

.single-question {
  border: 3px solid $primaryDark2Color;
  border-radius: 2rem;
  padding: 1rem 2rem;
  transition: all 0.3s;
  text-align: center;

  &--text {
    color: $secondaryLight4Color;

    &:hover {
      cursor: pointer;
    }
  }
}

.active {
  background-color: $primaryDark2Color;
}
